
body {
  display: flex;
  justify-content: center;
  background-image: url("back3.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 100vh;



  
}

.container {
   width: 450px;
   height: 450px;
   background: #000;
   opacity: 0.7;
   color: #0066cc;
   border-radius: 10px;
   box-shadow: 0 0 50px #fff;
   margin-left: 25px;
}

.container-sign {
  width: 450px;
  background: #000;

}

.container-sign h1 {
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-size: 50px;
  text-align: center;
  margin-left: 10px;

}

input {
  width: 400px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 20px;
}

input[type="text"] {
  display: block;
  margin: 0 auto;

}

input[type="email"] {
  display: block;
  padding: 10px;
  margin: 2em 11px;
  
}

input[type="pass"] {
  display: block;
  padding: 10px;
  margin: 2em 11px;
}

input[type="checkbox"] {
  width: auto;
  height: auto;
  display: inline-block;
  padding: 10px;
  margin-left: 10px;

}

input[type="checkbox"], b{
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-size: 13px;

}



.container .btn {
   width: 75%;
   height: 7%;
   border: 1px solid #000;
   border-radius: 20px;
   margin: 2em 50px;
   background-color: #0066cc;
   
}